* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: auto;
  padding-right: auto; */
}

.head {
  padding: 15px;
  background-color: rgb(159, 223, 255);
}
.menu-flex {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  background-color: rgb(255, 174, 0);
  flex-grow: 1;
}
.menu-flex .login {
  border: 2px dashed black;
  padding: 15px;

  text-align: right;
  width: 25%;
}
.menu-flex .link a {
  text-decoration: none;
  color: black;
}
.menu-flex .link {
  border: 2px dashed black;
  padding: 15px;
  flex-grow: 1;
  text-align: center;
}
.menu-flex .logo {
  border: 2px dashed black;
  padding: 15px;

  text-align: left;
  width: 25%;
}

.blu {
  background-color: rgb(0, 0, 146);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pink {
  background-color: rgb(250, 106, 255);
  height: 400px;
  width: 900px;
  border: 1px dashed black;
}
.back {
  background-color: white;
  height: 620px;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.azzurro {
  background-color: rgb(69, 130, 223);
}

.rosa {
  background-color: pink;
}
.box {
  height: 500px;
  border: 1px dashed black;
}
.box.fissa {
  width: 400px;
}
.box.grow {
  flex-grow: 1;
}

.back-light {
  background-color: rgb(182, 182, 182);
  height: 620px;
}
.back-light .slide {
  flex-direction: row-reverse;
}
.gray {
  background-color: rgb(182, 182, 182);
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  background-color: green;
  height: 800px;
  width: 100%;
  border: 1px dashed black;
}
